<div class="row">
  <div class="small-12 medium-12 columns">
    <h1>All Articles</h1>

    <ul>
      <% @articles.each do |article| %>
        <li>
          <%= link_to article.title, article_path(article) %>
        </li>
      <% end %>
    </ul>

    <% if logged_in? %>
      <%= link_to "New Article", new_article_path, class: "button tiny" %>
    <% end %>
  </div>
</div>
