<footer class="responsive-blog-footer">
  <div class="row">
    <div class="medium-8 columns small-order-2 medium-order-1 about-container">
      <div class="row">
        <div class="medium-12 columns about-section">
          <h4> About Me</h4>
          <p>paragraph about how amazing and awesome i am paragraph about how amazing and awesome i am paragraph about how amazing and awesome i am</p>
          <a href="">Read More</a>
        </div>
      </div>
    </div>
    <div class="small-12 medium-4 columns small-order-1 medium-order-2 mailing-container">
      <h4 class="mailing-list">Join my mailing list</h4>
      <input type="text" placeholder="Email Address">
      <a class="button expanded subscribe-button" href="#">Subscribe Now</a>
    </div>
  </div>
  <div class="row columns flex-container align-justify">
     <p>(c) <%= Date.today.year %> Blogger Corp.</p>
  </div>
</footer>
