<div class="row">
  <div class="small-12 medium-12 columns">
    <h1>All Tags</h1>

    <ul id="tags">
      <% @tags.each do |tag| %>
        <li>
          <%= link_to tag.name, tag_path(tag) %>
        </li>
      <% end %>
    </ul>

  </div>
</div>
