<div class="row">
  <div class="small-12 medium-12 columns">
    <h1>Articles Tagged with '<%= @tag.name %>'</h1>

    <ul>
      <% @tag.articles.each do |article| %>
        <li><%= link_to article.title, article_path(article) %></li>
      <% end %>
    </ul>
  </div>
</div>
